.MuiDialog-container {
    color: #1f1f1f;
    font-family: "Inter", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.web3modal-modal-lightbox {
    z-index: 10000 !important;
}
